<!-- En esta sección se configura la visualización de la grafica que se mostrará al usuario, ajustando los tamaños de texto -->
<!-- tipos de letra estilos, datos que se despliegan en el eje X y datos del eje Y, entre otros -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Precipitaciones</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <input class="btn btn-success btn-block" type="submit" value="Graficar">
            </form>
        </div>
    </div>

    <!-- canvas es una sección donde se grafican datos y su funcionalidad se da en java script -->
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    <!-- Adicionalmente se incluye esta sección del codigo para que en conjunto con la grafica de los datos, el usuario pueda ver esos datos en una tabla que le presente los valores de precipitación para el municipio seleccionado en los 12 meses del año seleccionado -->
    <h2 id="data-header">Datos</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                {% for month in months %}
                <th scope="col" id="{{ month }}">{{ month }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for precipitation in precipitations %}
                <th scope="col" id="precipitation-{{ precipitation }}">{{ precipitation }}</th>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Seccion de codigo java script -->
    <!-- Configuración del como se hará la grafica -->
    <script>
        // Se obtienen los datos del contexto enviado por views.py
        const precipitations = "{{precipitations|safe}}".replace('[', '').replace(']', '').replaceAll('\'', '').split(','); 
        const months = "{{months|safe}}".replace('[', '').replace(']', '').replaceAll('\'', '').split(',');

        // Se añaden los datos a la gráfica 
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'line',
            fill: false,
            tension: 0.1,
            data: {
                labels: months,
                datasets: [{
                    label: 'Precipitaciones',
                    data: precipitations,
                    borderColor: 'rgb(75, 192, 192)'
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</main>
</body>
</html>
